body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b1522;
    flex-direction: column;
    position: relative; /* Para permitir posicionamento absoluto das mensagens */
}

.heart { 
    height: 70px;
    width: 70px;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 0px 90px #f20044;
    animation: heart 0.6s linear infinite;
}

@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.08);
    }
    80% {
        transform: rotate(-45deg) scale(1.0);
    }
    100% {
        transform: rotate(-45deg) scale(0.6);
    }
} 

.heart:before {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px 0px 90px #f20044;
}

.heart:after {  
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}

#backButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f20044;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#backButton:hover {
    background-color: #d0003a;
}

.message {
    position: absolute;
    color: white;
    font-size: 20px;
    opacity: 1;
    transition: transform 1s, opacity 1s;
}
