body {
  background-color: #f7d9da;
  font-family: Arial, sans-serif;
}

.envelope-wrapper {
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;
}

#envelope {
  margin: 150px auto;
  position: relative;
  width: 280px;
  height: 180px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #f9c5c8;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.front {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 3;
}

.flap {
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-bottom: 82px solid transparent;
  border-top: 98px solid #ff3333;
  transform-origin: top;
  pointer-events: none;
}

.pocket {
  border-left: 140px solid #ff9999;
  border-right: 140px solid #ff9999;
  border-bottom: 90px solid #fd8787;
  border-top: 90px solid transparent;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.letter {
  position: relative;
  background-color: #f9c5c8;
  width: 90%;
  margin: auto;
  height: 90%;
  top: 5%;
  border-radius: 6px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
}

.open .flap {
  transform: rotateX(180deg);
  transition: transform 0.4s ease, z-index 0.6s;
  z-index: 1;
}

.close .flap {
  transform: rotateX(0deg);
  transition: transform 0.4s 0.6s ease, z-index 1s;
  z-index: 5;
}

.open .letter {
  transform: translateY(-100px);
  transition: transform 0.6s ease;
  z-index: 2;
}

.hearts {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 2;
}

.heart {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.message {
  display: none;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  color: #ff5757;
}

.reset {
  text-align: center;
  margin-top: 20px;
}

.reset button {
  font-weight: 800;
  background-color: transparent;
  border: solid 2px #ff5757;
  border-radius: 4px;
  color: #ff5757;
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.reset button:hover {
  background-color: #fc9d9d;
  color: #a10000;
}